.header {
  height: 60px;
  background: #fff;
  color: #ffac30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 30px 0;
  position: fixed;
  left: 200px;
  top: 0;
  right: 0;
  z-index: 100;
}
.header-title {
  font-size: 1.7rem;
  font-weight: bold;
}
.header-profile {
  font-size: 1rem;
}
