.sidebar {
  width: 200px;
  background: #ffac30;
  color: #fff;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  margin: 20px 0;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.sidebar a:hover {
  text-decoration: underline;
}
